<div>
	Footer content
</div>

	<!-- Vendor JS -->
	<script src="/vendor/jquery/dist/jquery.min.js"></script>

	<script src="/vendor/owl.carousel/dist/owl.carousel.min.js"></script>

	<script src="/vendor/fullpage.js/vendors/scrolloverflow.min.js"></script>

	<script src="/vendor/fullpage.js/dist/jquery.fullpage.min.js"></script>

	<script src="/vendor/waypoints/lib/noframework.waypoints.min.js"></script>

	<!-- App JS -->
	<script src="/js/functions.js"></script>
	<script src="/js/contact.js"></script>
