<div class="pagination">
  {% if page.previous.url %}
    <a href="{{page.previous.url}}"
       title="Previous Post: {{page.previous.title}}"
       class="pagination-item older" >
      &xlarr; Previous
    </a>
  {% else %}
    <span class="pagination-item older">&xlarr; Previous</span>
  {% endif %}
    <a href="/blog.html"
       class="pagination-item" >
      Home
    </a>
  {% if page.next.url %}
    <a href="{{page.next.url}}"
       title="next Post: {{page.next.title}}"
       class="pagination-item newer" >
      Next &xrarr;
    </a>
  {% else %}
    <span class="pagination-item newer">Next &xrarr;</span>
  {% endif %}
</div>
