<!--#include virtual="../partials/header-secondary.shtml" -->
{% include header-secondary.shtml %}
{% include nav.shtml %}

<div class="container">
	<div class="shell">
		<div class="main main-primary">
			<section class="section-blog">
				<header class="section-head">
					<h1>Notes <strong>from Our Team</strong></h1>

					<p>Particle41 partners with key cloud infrastructure, automation, and management providers to ensure our clients take advantage of the best cloud solutions available.</p>
				</header><!-- /.section-head -->

				<div class="section-body">
					{{ content }}
				</div><!-- /.section-body -->
			</section><!-- /.section-blog -->

		</div><!-- /.main -->
{% include footer.shtml %}
